body{
    background-image: url("../img/back3.jpg");
     /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
    box-shadow: 5px 10px 30px 5px grey;
    text-shadow: 3px 3px 3px snow;
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 100px;
    background-image: url("../img/jumbo1.jpg");
    background-repeat: no-repeat;
    background-size: 1500px;
}
.jumbotron .container h1{
    font-family: 'Courgette', cursive;
    color: #5f5f61;
}
.jumbotron .container p{
    color: #5f5f61;
}

h3{
    color: #5f5f61;
    font-size: medium;
}

.dates{
    margin-left: -15px;
}

.time{
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.pad{
    margin-bottom: 20px;
    padding-left: 100px;
}

.bg{
    box-shadow: 5px 10px 30px 10px grey;
    background-color: white;
    padding-bottom: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background-image: url("../img/jumbo2.jpg");
    background-repeat: no-repeat;
    background-size: 1200px;
}